.nav{
    background: black;
    height: 85px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    .logo{
        max-width: 90%;
        max-height: 65.93px;
    }
    a{
        color: white;
        font-weight: 500;
        font-size: 24px;
    }
}
