.sidebar{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: black;
    z-index: 0;
    min-width: 96px;
    max-width: 96px;
    height: 100%;
    padding-top: 130px;
    .icons{
        margin:15px 0;
        justify-content: space-between;
    }
    .copyright{
        margin: 30px 27px;
        width: max-content;
    }
}